html {
  height: 100vh;
  width: 750px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}
h1 {
  position: relative;
  color: #fff;
  font-size: 50px;
  line-height: 1px;
  text-align: center;
}

h2 {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  font-style: italic;
  margin: 0;
  top: 71px;
  left: -125px;
}

form {
  background-color: #4f17192c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
  margin: 0 auto;
  line-height: 15px;
  display: flex;
  width: 710px;
  position: relative;
  left: -20px;
  box-shadow: 2px solid rgba(49, 47, 47, 0.568);
  border-top: 1px solid black;
}

button {
  border: none;
  background-color: #4f171925;
  font-size: 25px;
  outline: 0;
  color: rgb(112, 31, 31);
}
button:hover {
  color: rgb(138, 67, 67);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

input[type="text"] {
  padding: 10px;
  background-color: #4f171923;
  height: 30px;
  outline: none;
  border: none;
  color: #000;
  flex-grow: 1;
  font-family: "Raleway", sans-serif;
}

ul {
  padding-left: 7px;
  list-style: none;
  flex-grow: 1;
}

li {
  display: flex;
  align-items: center;
  padding: 2px 0;
  font-size: 16px;
  margin-left: -6px;
}

i {
  pointer-events: none;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}

.header {
  position: relative;
  height: 20px;
  background-image: url(images/hero.jpg);
  background-size: cover;
  padding: 150px;
  margin-top: 10px;
  border-radius: 10px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(2, 2, 2, 0.445);
  border-radius: 10px;
}

:placeholder-shown {
  font-style: italic;
  border: none;
  background-color: #4f171925;
  width: 710px;
  padding: 10px;
}

.task-list {
  margin: 0 auto;
  display: flex;
  width: 740px;
  position: relative;
  left: -20px;
  background-color: rgb(255, 255, 255);
  padding: 10px, 30px;
  height: 100%;
}

.clear-all {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 10px 3px;
  margin-right: -25px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  color: rgb(112, 31, 31);
}

.clear-all:hover {
  color: rgba(112, 31, 31, 0.418);
  transition: all 200ms ease-in-out;
}

.todo-item {
  flex-grow: 1;
  background-color: #e7dede;
  padding: 6px;
}

.author {
  font-size: 14px;
  font-weight: 300;
  padding-top: 50px;
  margin: 0 auto;
  text-decoration: none;
}

.todo-list-item {
  transition: all 0.3s ease-out;
}

.todo-list-item-fall {
  transform: translateY(12rem) rotateZ(10deg);
  opacity: 0;
}
